## 範例 : (Kaggle)房價預測

以下用房價預測資料, 觀察均值編碼的效果

## [教學目標]

以下用房價預測資料, 觀察均值編碼的效果

## [範例重點]

觀察標籤編碼與均值編碼, 在特徵數量 / 線性迴歸分數 / 線性迴歸時間上, 分別有什麼影響 (In[3], Out[3], In[4], Out[4])

觀察標籤編碼與均值編碼, 在特徵數量 / 梯度提升樹分數 / 梯度提升樹時間上, 分別有什麼影響 (In[5], Out[5], In[6], Out[6])

In [1]:
# 做完特徵工程前的所有準備
import pandas as pd
import numpy as np
import copy, time
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.preprocessing import LabelEncoder

data_path = '/Users/johnsonhuang/py_ds/ML_100/2nd-ML100Days/homework/data/Part02/'
df_train = pd.read_csv(data_path + 'house_train.csv.gz')
df_test = pd.read_csv(data_path + 'house_test.csv.gz')

train_Y = np.log1p(df_train['SalePrice'])
ids = df_test['Id']
df_train = df_train.drop(['Id', 'SalePrice'] , axis=1)
df_test = df_test.drop(['Id'] , axis=1)
df = pd.concat([df_train,df_test])
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal
1,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal
2,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal
3,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml
4,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal

In [2]:
# 只取類別值 (object) 型欄位, 存於 object_features 中
object_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'object':
        object_features.append(feature)
print(f'{len(object_features)} Numeric Features : {object_features}\n')

# 只留類別型欄位
df = df[object_features]
df = df.fillna('None')
train_num = train_Y.shape[0]
df.head()

43 Numeric Features : ['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual', 'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature', 'SaleType', 'SaleCondition']

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
0,RL,Pave,None,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,...,Attchd,RFn,TA,TA,Y,None,None,None,WD,Normal
1,RL,Pave,None,Reg,Lvl,AllPub,FR2,Gtl,Veenker,Feedr,...,Attchd,RFn,TA,TA,Y,None,None,None,WD,Normal
2,RL,Pave,None,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,...,Attchd,RFn,TA,TA,Y,None,None,None,WD,Normal
3,RL,Pave,None,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,Norm,...,Detchd,Unf,TA,TA,Y,None,None,None,WD,Abnorml
4,RL,Pave,None,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,Norm,...,Attchd,RFn,TA,TA,Y,None,None,None,WD,Normal

In [3]:
# 對照組 : 標籤編碼 + 線性迴歸
df_temp = pd.DataFrame()
for c in df.columns:
    df_temp[c] = LabelEncoder().fit_transform(df[c])

train_X = df_temp[:train_num]
estimator = LinearRegression()
start = time.time()
print(f'shape : {train_X.shape}')
print(f'score : {cross_val_score(estimator, train_X, train_Y, cv=5).mean()}')
print(f'time : {time.time() - start} sec')

shape : (1460, 43)
score : 0.6615606866851304
time : 0.20779871940612793 sec

In [4]:
# 均值編碼 + 線性迴歸
data = pd.concat([df[:train_num], train_Y], axis=1)
for c in df.columns:
    mean_df = data.groupby([c])['SalePrice'].mean().reset_index()
    mean_df.columns = [c, f'{c}_mean']
    data = pd.merge(data, mean_df, on=c, how='left')
    data = data.drop([c] , axis=1)
    
data = data.drop(['SalePrice'] , axis=1)
estimator = LinearRegression()
start = time.time()
print(f'shape : {train_X.shape}')
print(f'score : {cross_val_score(estimator, data, train_Y, cv=5).mean()}')
print(f'time : {time.time() - start} sec')

shape : (1460, 43)
score : 0.7624230403716962
time : 0.02066516876220703 sec

In [5]:
# 對照組 : 標籤編碼 + 梯度提升樹
df_temp = pd.DataFrame()
for c in df.columns:
    df_temp[c] = LabelEncoder().fit_transform(df[c])
    
train_X = df_temp[:train_num]
estimator = GradientBoostingRegressor()
start = time.time()
print(f'shape : {train_X.shape}')
print(f'score : {cross_val_score(estimator, train_X, train_Y, cv=5).mean()}')
print(f'time : {time.time() - start} sec')

shape : (1460, 43)
score : 0.7761015658477934
time : 0.853654146194458 sec

In [6]:
# 均值編碼 + 梯度提升樹
data = pd.concat([df[:train_num], train_Y], axis=1)
for c in df.columns:
    mean_df = data.groupby([c])['SalePrice'].mean().reset_index()
    mean_df.columns = [c, f'{c}_mean']
    data = pd.merge(data, mean_df, on=c, how='left')
    data = data.drop([c] , axis=1)
    
data = data.drop(['SalePrice'] , axis=1)
estimator = GradientBoostingRegressor()
start = time.time()
print(f'shape : {train_X.shape}')
print(f'score : {cross_val_score(estimator, data, train_Y, cv=5).mean()}')
print(f'time : {time.time() - start} sec')

shape : (1460, 43)
score : 0.8061216006517279
time : 0.8299236297607422 sec

## 作業

## [(Kaggle)鐵達尼生存預測](https://www.kaggle.com/c/titanic)

## [作業目標]

試著模仿範例寫法, 在鐵達尼生存預測中, 觀察均值編碼的效果

## [作業重點]

仿造範例, 完成標籤編碼與均值編碼搭配邏輯斯迴歸的預測

觀察標籤編碼與均值編碼在特徵數量 / 邏輯斯迴歸分數 / 邏輯斯迴歸時間上, 分別有什麼影響 (In[3], Out[3], In[4], Out[4])

## 作業1

請仿照範例，將鐵達尼範例中的類別型特徵改用均值編碼實作一次

In [7]:
# 做完特徵工程前的所有準備 (與前範例相同)
import pandas as pd
import numpy as np
import copy, time
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder

data_path = '/Users/johnsonhuang/py_ds/ML_100/2nd-ML100Days/homework/data/Part02/'
df_train = pd.read_csv(data_path + 'titanic_train.csv')
df_test = pd.read_csv(data_path + 'titanic_test.csv')

train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)
df_test = df_test.drop(['PassengerId'] , axis=1)
df = pd.concat([df_train,df_test])
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
# 只取類別值 (object) 型欄位, 存於 object_features 中
object_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'object':
        object_features.append(feature)
print(f'{len(object_features)} Numeric Features : {object_features}\n')

# 只留類別型欄位
df = df[object_features]
df = df.fillna('None')
train_num = train_Y.shape[0]
df.head()

5 Numeric Features : ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,None,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,None,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,None,S

In [9]:
# 均值編碼 + 梯度提升樹
df_copy = df.copy()
data = pd.concat([df_copy[:train_num], train_Y], axis=1)
for c in df_copy.columns:
    mean_df = data.groupby([c])['Survived'].mean().reset_index()
    mean_df.columns = [c, f'{c}_mean']
    data = pd.merge(data, mean_df, on=c, how='left')
    data = data.drop([c] , axis=1)
    
data = data.drop(['Survived'] , axis=1)
estimator = GradientBoostingRegressor()
start = time.time()
print(f'shape : {train_X.shape}')
print(f'score : {cross_val_score(estimator, data, train_Y, cv=5).mean()}')
print(f'time : {time.time() - start} sec')

shape : (1460, 43)
score : 0.9999996032710972
time : 0.09222793579101562 sec

In [10]:
data

     Name_mean  Sex_mean  Ticket_mean  Cabin_mean  Embarked_mean
0            0  0.188908         0.00    0.299854       0.336957
1            1  0.742038         1.00    1.000000       0.553571
2            1  0.742038         1.00    0.299854       0.336957
3            1  0.742038         0.50    0.500000       0.336957
4            0  0.188908         0.00    0.299854       0.336957
5            0  0.188908         0.00    0.299854       0.389610
6            0  0.188908         0.00    0.000000       0.336957
7            0  0.188908         0.00    0.299854       0.336957
8            1  0.742038         1.00    0.299854       0.336957
9            1  0.742038         0.50    0.299854       0.553571
10           1  0.742038         1.00    0.500000       0.336957
11           1  0.742038         1.00    1.000000       0.336957
12           0  0.188908         0.00    0.299854       0.336957
13           0  0.188908         0.00    0.299854       0.336957
14           0  0.742038         0.00    0.299854       0.336957
15           1  0.742038         1.00    0.299854       0.336957
16           0  0.188908         0.00    0.299854       0.389610
17           1  0.188908         1.00    0.299854       0.336957
18           0  0.742038         0.00    0.299854       0.336957
19           1  0.742038         1.00    0.299854       0.553571
20           0  0.188908         0.00    0.299854       0.336957
21           1  0.188908         1.00    1.000000       0.336957
22           1  0.742038         1.00    0.299854       0.389610
23           1  0.188908         1.00    1.000000       0.336957
24           0  0.742038         0.00    0.299854       0.336957
25           1  0.742038         0.75    0.299854       0.336957
26           0  0.188908         0.00    0.299854       0.553571
27           0  0.188908         0.50    0.500000       0.336957
28           1  0.742038         1.00    0.299854       0.389610
29           0  0.188908         0.00    0.299854       0.336957
..         ...       ...          ...         ...            ...
861          0  0.188908         0.00    0.299854       0.336957
862          1  0.742038         1.00    1.000000       0.336957
863          0  0.742038         0.00    0.299854       0.336957
864          0  0.188908         0.00    0.299854       0.336957
865          1  0.742038         1.00    0.299854       0.336957
866          1  0.742038         1.00    0.299854       0.553571
867          0  0.188908         0.00    0.000000       0.336957
868          0  0.188908         0.00    0.299854       0.336957
869          1  0.188908         1.00    0.299854       0.336957
870          0  0.188908         0.00    0.299854       0.336957
871          1  0.742038         1.00    1.000000       0.336957
872          0  0.188908         0.00    0.500000       0.336957
873          0  0.188908         0.00    0.299854       0.336957
874          1  0.742038         0.50    0.299854       0.553571
875          1  0.742038         1.00    0.299854       0.553571
876          0  0.188908         0.00    0.299854       0.336957
877          0  0.188908         0.00    0.299854       0.336957
878          0  0.188908         0.00    0.299854       0.336957
879          1  0.742038         1.00    1.000000       0.553571
880          1  0.742038         1.00    0.299854       0.336957
881          0  0.188908         0.00    0.299854       0.336957
882          0  0.742038         0.00    0.299854       0.336957
883          0  0.188908         0.00    0.299854       0.336957
884          0  0.188908         0.00    0.299854       0.336957
885          0  0.742038         0.00    0.299854       0.389610
886          0  0.188908         0.00    0.299854       0.336957
887          1  0.742038         1.00    1.000000       0.336957
888          0  0.742038         0.00    0.299854       0.336957
889          1  0.188908         1.00    1.000000       0.553571
890          0  0.188908         0.00    0.299854       0.389610

[891 rows x 5 columns]

In [11]:
# 均值編碼 + 邏輯斯迴歸
df_copy = df.copy()
data = pd.concat([df_copy[:train_num], train_Y], axis=1)
for c in df_copy.columns:
    mean_df = data.groupby([c])['Survived'].mean().reset_index()
    mean_df.columns = [c, f'{c}_mean']
    data = pd.merge(data, mean_df, on=c, how='left')
    data = data.drop([c] , axis=1)
    
data = data.drop(['Survived'] , axis=1)
estimator = LogisticRegression()
start = time.time()
print(f'shape : {train_X.shape}')
print(f'score : {cross_val_score(estimator, data, train_Y, cv=5).mean()}')
print(f'time : {time.time() - start} sec')

shape : (1460, 43)
score : 1.0
time : 0.01967310905456543 sec

## 作業2

觀察鐵達尼生存預測中，均值編碼與標籤編碼兩者比較，哪一個效果比較好? 可能的原因是什麼? 

> 均值編碼所得分數較高，但均值編碼最⼤的問題在於相當容易 Overfitting

In [12]:
# 對照組 : 標籤編碼 + 邏輯斯迴歸
df_copy = df.copy()
df_temp = pd.DataFrame()
for c in df_copy.columns:
    df_temp[c] = LabelEncoder().fit_transform(df_copy[c])

train_X = df_temp[:train_num]
estimator = LogisticRegression()
start = time.time()
print(f'shape : {train_X.shape}')
print(f'score : {cross_val_score(estimator, train_X, train_Y, cv=5).mean()}')
print(f'time : {time.time() - start} sec')

shape : (891, 5)
score : 0.780004837244799
time : 0.022295713424682617 sec

In [13]:
df.columns

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [14]:
# 均值編碼 + 邏輯斯迴歸
df_copy = df.copy()
data = pd.concat([df_copy[:train_num], train_Y], axis=1)
for c in df_copy.columns:
    mean_df = data.groupby([c])['Survived'].mean().reset_index()
    mean_df.columns = [c, f'{c}_mean']
    data = pd.merge(data, mean_df, on=c, how='left')
    data = data.drop([c] , axis=1)
    
data = data.drop(['Survived'] , axis=1)
estimator = LogisticRegression()
start = time.time()
print(f'shape : {train_X.shape}')
print(f'score : {cross_val_score(estimator, data, train_Y, cv=5).mean()}')
print(f'time : {time.time() - start} sec')

shape : (891, 5)
score : 1.0
time : 0.016583919525146484 sec

### 嘗試丟掉「類別」過多的類別變數 : Name, Ticket

In [15]:
# 對照組 : 標籤編碼 + 邏輯斯迴歸

# drop Name, Ticket
df_copy = df.copy().drop(['Name','Ticket'],axis=1)

df_temp = pd.DataFrame()
for c in df_copy.columns:
    df_temp[c] = LabelEncoder().fit_transform(df_copy[c])

train_X = df_temp[:train_num]
estimator = LogisticRegression()
start = time.time()
print(f'shape : {train_X.shape}')
print(f'score : {cross_val_score(estimator, train_X, train_Y, cv=5).mean()}')
print(f'time : {time.time() - start} sec')

shape : (891, 3)
score : 0.7811473348873514
time : 0.016520023345947266 sec

In [16]:
# 均值編碼 + 邏輯斯迴歸

# drop Name, Ticket
df_copy = df.copy().drop(['Name','Ticket'],axis=1)

data = pd.concat([df_copy[:train_num], train_Y], axis=1)
for c in df_copy.columns:
    mean_df = data.groupby([c])['Survived'].mean().reset_index()
    mean_df.columns = [c, f'{c}_mean']
    data = pd.merge(data, mean_df, on=c, how='left')
    data = data.drop([c] , axis=1)
    
data = data.drop(['Survived'] , axis=1)
estimator = LogisticRegression()
start = time.time()
print(f'shape : {train_X.shape}')
print(f'score : {cross_val_score(estimator, data, train_Y, cv=5).mean()}')
print(f'time : {time.time() - start} sec')

shape : (891, 3)
score : 0.8350366889413987
time : 0.011549949645996094 sec

### 另一種寫法（參考別人的）

In [17]:
# 對照組 : 標籤編碼 + 邏輯斯迴歸
train_X = df.iloc[:train_num].drop(['Name','Ticket'],axis=1)

for c in train_X.columns:
    train_X[c] = LabelEncoder().fit_transform(train_X[c])
    
cross_val_score(LogisticRegression(),train_X,train_Y,cv=5).mean()

0.7811473348873514

In [18]:
# 均值編碼 + 邏輯斯迴歸
train_X = df.iloc[:train_num].drop(['Name','Ticket'],axis=1)

for c in train_X.columns:
    train_X[c] = train_X[c].replace(pd.concat([train_X[c],train_Y],axis=1).groupby(c).mean().to_dict()['Survived'])
    
cross_val_score(LogisticRegression(),train_X,train_Y,cv=5).mean()

0.8350366889413987

## 參考資料

## [平均數編碼 - 繁體說明版](https://www.itread01.com/content/1536822394.html)

------

### [平均數編碼 ：針對高基數定性特徵(類別特徵)的數據處理/ 特徵工程](https://zhuanlan.zhihu.com/p/26308272)

就實務上而言，均值編碼的意義在於當一個特徵有明顯意義，但是類別數量特別多(這裡說的"高基數")時可能有用，但最麻煩的點在於極度容易OverFitting， 所以需要不同的平滑化方式。

在課程內使用平均因子的方法只是其一，這邊的內容也介紹了另一種較複雜的平滑化方式，提供同學參考。

> ### 文摘
> 如果某一个特征是定性的（categorical），而这个特征的可能值非常多（高基数），那么平均数编码（mean encoding）是一种高效的编码方式。在实际应用中，这类特征工程能极大提升模型的性能。
> LabelEncoder将n种类别编码为从0到n-1的整数，虽然能够节省内存和降低算法的运行时间，但是隐含了一个假设：不同的类别之间，存在一种顺序关系。在具体的代码实现里，LabelEncoder会对定性特征列中的所有独特数据进行一次排序，从而得出从原始输入到整数的映射。

> 定性特征的基数（cardinality）指的是这个定性特征所有可能的不同值的数量。在高基数（high cardinality）的定性特征面前，这些数据预处理的方法往往得不到令人满意的结果。
高基数定性特征的例子：IP地址、电子邮件域名、城市名、家庭住址、街道、产品号码。

> 主要原因：
1. LabelEncoder编码高基数定性特征，虽然只需要一列，但是每个自然数都具有不同的重要意义，对于y而言线性不可分。使用简单模型，容易欠拟合（underfit），无法完全捕获不同类别之间的区别；使用复杂模型，容易在其他地方过拟合（overfit）。
2. OneHotEncoder编码高基数定性特征，必然产生上万列的稀疏矩阵，易消耗大量内存和训练时间，除非算法本身有相关优化（例：SVM）。
> 因此，我们可以尝试使用平均数编码（mean encoding）的编码方法，在贝叶斯的架构下，利用所要预测的应变量（target variable），有监督地确定最适合这个定性特征的编码方式。在Kaggle的数据竞赛中，这也是一种常见的提高分数的手段。

> 基本思路与原理：

> 平均数编码是一种有监督（supervised）的编码方式，适用于分类和回归问题。为了简化讨论，以下的所有代码都以分类问题作为例子。
假设在分类问题中，目标y一共有C个不同类别，具体的一个类别用target表示；某一个定性特征variable一共有K个不同类别，具体的一个类别用k表示。

> 先验概率（prior）：数据点属于某一个target（y）的概率，P(y = target)

> 后验概率（posterior）：该定性特征属于某一类时，数据点属于某一个target（y）的概率，P(target = y | variable = k)

> 本算法的基本思想：将variable中的每一个k，都表示为（估算的）它所对应的目标y值概率：

> \hat{P} (target = y | variable = k)。（估算的结果都用“^”表示，以示区分）
（备注）因此，整个数据集将增加（C-1）列。是C-1而不是C的原因：
\sum_{i}^{}{\hat{P}(target = y_i | variable = k)} =1，所以最后一个y_i的概率值必然和其他y_i的概率值线性相关。在线性模型、神经网络以及SVM里，不能加入线性相关的特征列。如果你使用的是基于决策树的模型（gbdt、rf等），个人仍然不推荐这种over-parameterization。



![image](https://lh6.googleusercontent.com/Egm02cM7ravB3atE-yEmq_Viwgfw15E5lj9Sn1CeTLe39QOu4ya42fhQeRFMmpFU6qL4cTSUNtVaY0ndUdJckdnhLhki2cRcW9b1xQg3fWqCPfqWpYsGZEoFXC2xaF9iW2dflyxN8AM?t=1557120569447)